---
import BriefCase from "./icons/BriefCase.astro";

interface Props {
    title: string;
    description: string;
    link?: string;
    date: string;
    contact?: string;
}
const { title, description, link, date, contact } = Astro.props;
---

<span
    class="absolute flex items-center justify-center size-6 bg-purple-400 rounded-full -start-3 ring-8 ring-purple-500 dark:ring-gray-900 dark:bg-blue-900"
>
    <slot />
</span>
<h3
    class="flex items-center mb-1 text-lg font-semibold text-white/50 mt-2 dark:text-white"
>
    {title}
    {
        contact && (
            
        <a href="https://api.whatsapp.com/send?phone=573175404432" target="_blank" class="bg-orange-200 text-blue-950 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-white ms-3 cursor-pointer" title="Contactar a Alejandro">
                {contact}
            </a>
        )
    }
</h3>
<time
    class="block mb-2 text-sm font-normal leading-none text-sky-200 dark:text-gray-500"
    >{date}</time
>

<p
    class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty"
>
    {description}
</p>
<!-- {
    link && (
        <a
            href={link}
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        >
            <svg
                class="w-3.5 h-3.5 me-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z" />
                <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
            </svg>{" "}
            Download ZIP
        </a>
    )
} -->
